
<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
                &copy; 2022 Tüm Hakları Saklıdır | Design by <a href="https://codeilla.com" class="font-weight-bold ml-1" target="_blank">Codeilla Software</a>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a href="https://codeilla.com" class="nav-link" target="_blank"><p><strong style="color:black">Codeilla Software</strong></p></a>
                </li>
                <li class="nav-item">
                    <a href="https://codeilla.com" class="nav-link" target="_blank"><p><strong style="color:black">Hizmetler</strong></p></a>
                </li>
                <li class="nav-item">
                    <a href="https://codeilla.com" class="nav-link" target="_blank"><p><strong style="color:black">Teknik Destek</strong></p></a>
                </li>
                <li class="nav-item">
                    <a href="https://codeilla.com" class="nav-link" target="_blank"><p><strong style="color:black">Müşteri Hizmetleri</strong></p></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
