
@{
    ViewData["Title"] = "Yeni Yetenek Ekle";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenek Ekleme Paneli</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label class="form-control-label" for="input-username">Yetenek Başlığı</label>
                    <input type="text" class="form-control" placeholder="Örn. SQL" name="Title">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Değer</label>
                    <input type="text" class="form-control" placeholder="0-100 Arası" name="Value">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Ekle</button>
            </form>
        </div>
    </div>
</div>





