@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Deneyim Güncelleme Paneli</h4>
                <form class="forms-sample" method="post">
                    @Html.HiddenFor(x => x.SkillID)
                    <div class="form-group">
                        <label class="form-control-label" for="input-username">Yetenek Başlığı</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Değer</label>
                        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
}





